<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <div class="background">
      <h1>Ferrell Ipsum</h1>
      <p>Your Lorem Ipsum dosage, with a splash of Will Ferrell</p>
    </div>
    <div class="container">
      <form action="/submit" method="post">
        <h2>Make a submission</h2>
        Quote: <input type="text" name="quote"/>
        <br/>
        Movie: <input type="text" name="movie"/>
        <br/>
        <button type="submit" value="submit">Submit<br/>
      </form>      
    </div>
  </body>
</html>